NEXT_PUBLIC_API_URL=https://estore-api-zxuh.onrender.com
NEXT_PUBLIC_ESTORE_API_URL=https://estore-api-zxuh.onrender.com
NEXT_PUBLIC_ESTORE_TENANT_ID=kigali-city-mall
CLERK_WEBHOOK_SECRET=whsec_your_clerk_webhook_secret
