NEXT_PUBLIC_ESTORE_API_URL=http://localhost:5000
NEXT_PUBLIC_ESTORE_TENANT_ID=kigali-city-mall
NEXT_PUBLIC_ESTORE_CURRENCY=USD
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGVnaWJsZS1mbG91bmRlci05Ni5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_PMqTl2MMiHvQqsPl9MQGBkpdm4V6jMKljhv98ezwgA
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
